/2nd Semster (Java code)/mavenproject1/target/
/2nd Semster (Java code)/demo/target/
/2nd Semster (Java code)/Lab2/target/
/2nd Semster (Java code)/lab3/target/
/2nd Semster (Java code)/Practice_Problems/target/
/2nd Semster (Java code)/Lab6/Lab6/target/
